h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p {
    font-size: 14px;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

div {
    padding: 70px 0;
    text-align: center;
    border: 3px solid black;
}

ul {
    text-align:left;
    padding: 0 400px;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}
